@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

.content{
    margin: 0;
    padding: 0; 
    max-width: 1280px;
    margin: 0px auto; 
    
}

.section-title {
    font-family: 'Raleway-Bold';
    font-size: 22px;
    color: #47453F;
}

.section-text {
    color:#919191;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Montserrat-Light';
}

.container {
    max-width: 1100px;
    margin: 0px auto;
}

.header-navigation__wrap {
    display: flex;
    justify-content: center;
}

.header-navigation {
    display: flex;
}

.logo{
    background-image: url(../img/logo_1.jpg);
    margin-top: 40px;
    margin-left: 20px;
    position: relative;
    z-index: 4;
    
}
.logo-text{
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
    text-decoration: none;
    margin: 0px 50px 0px 0px; 
    position: absolute;
    top: 10px;
    
    
}

.header{
    width: 100%;
    height: 850px;
    background-image: url(../img/bg_photo_11949.jpg);
    background-color: #47453F;
    position: relative;

}

.header-nav{
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 120px;
}

.header__search {
    fill: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

.search-input {
    width: -0px;
    height:-0px;
}

.header__icon-card {
    fill: #fff;
    margin-left: 20px;

    
}

.header__icon-card:hover,
.header__icon-card:active{
    fill: #D3C1AD;
}

.header__search:hover,
.header__search:active{
    fill: #D3C1AD;
}

.link-nav{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
}


.hider-link{
text-decoration: none;
font-size: 14px;
line-height: 1.2;
font-weight: 300;
color: #ffffff;
display: flex;
margin-top: 5px;
margin-right: 25px;
}

.link-activ {
    display: block;
}

.link-activ:hover,
.link-activ:active{
  color: #C7B299;
  /*text-decoration: underline;*/
}

.link-activ:focus{
  color: red;
}

.link-activ::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color:#C7B299;
    transform: scaleX(0);
    transition: all 0.2s;

}

.link-activ:hover::after {
    transform: scaleX(1);
}

.header-text{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0px 0px 0px;
    margin: 0px auto;

}

.Modern{
    font-size: 36px;
    font-family: 'Raleway-Medium';
 
    color: #ffffff;
}

.header-slider{
    max-height: 200px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.header-description{
    max-width: 500px;
    font-family: 'Conv_Montserrat-Light';
    color: #ffffff;
    text-align: center;
}

.psd{
    font-family: 'Raleway-Bold';
    font-size: 52px;
    color: #ffffff;
    margin: 0;
}

.header-button {
    border: 0px;
    min-height: 53px;
    width: 170px;
    background: #998675;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 50px;
}

.header-button:hover,
.header-button:active{
    border: solid 2px rgb(252, 252, 252);
}

.header-button:focus {
    background: rgb(46, 233, 8);
    
}

.text { 
    font-family: 'Conv_Montserrat-Light';   
}

.svg-center-wrap {
    display: flex;
    align-items: center;
}


.header-slider__buttom{
    fill:#fff;
    width: 40px;
    height: 73px;
    

}

.header-slider__buttom:hover,
.header-slider__buttom:active{
    fill: #D3C1AD;
    stroke: red;
    stroke-width: 1;
}

.header__pagination {
    width: 150px;
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.header__pagination-item {
    display: block;
    width: 15px;
    height: 15px;
    background:#ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
    opacity: 50%;
}

.header__pagination-item:hover {
     border: 2px solid #d3c1ad;
     background: transparent;
     transform: scale(1.2);
}

.header__menu-mobail {
    display: none;  
}


.section-offer {
    min-height: 370px;
    display: flex;
    align-items: center;
}

.offer__block {
    max-width: 266px;
    text-align: center;
    box-sizing: border-box;
  
}

.offer__block-icon {
    height: 50px;
    fill: #585858;
}

.offer__block:hover .offer__block-icon {
    fill:#c7b299;
}

.offer__block:hover .offer__block-title {
    color:#c7b299;
}


.offer__block:hover span {
   background:#c7b299;
  

}

.offer__block h3 {
    font-family: 'Raleway-Bold';
    font-size: 22px; 
    color: #47453F;
}

.offer__block span {
    display: block;
    width: 100px;
    height: 5px;
    background: #f1eee9;
    margin: auto;
    border-radius: 50px;
}

.offer__block-wrap {
    display: flex;
}

/*секция с фото */

.realization {
    background-color: #fbfaf8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
    position: relative;
    
}

.realization__text-wrap {
    max-width: 757px;
    text-align: center;
    margin: 0 0 20px 0;
}

.realization__img {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.realization__img-browser-left {
    position: absolute;
    display: block;
    left: 40px;
}

.realization__img-browser-left:hover {
    z-index: 2;
}

.realization__img-browser-center {
    z-index: 1;
    position: relative;
    display: block;
}

.realization__img-browser-right {
    position: absolute;
    display: block;
    right: 40px;
}

.realization__img-browser-right:hover {
    z-index: 2;
}

/*рекламный блок*/
.purchase-now {
    background: url(../img/background-advertising.jpg);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

.purchase-now__title {
    font-family: "Raleway-Regular";
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    
}

.purchase-now__title span {
    color: #c7b299;
}

.purchase-now p {
    line-height: 0px;
}

.purchase-now__bottom {
    font-family: "Raleway-Bold";
    font-size: 14px;
    display: block;
    width: 150px;
    background-color: #998675;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 0 15px 0px;
    text-align: center;
    border-radius: 5px;
}


.purchase-now__bottom:hover,
.purchase-now__bottom:active{
    border: solid 1px rgb(252, 252, 252);
    background: rgb(46, 233, 8);
}

.purchase-now__bottom:focus {
    background-color: #998675;
    
}

@media screen and (max-width:1199px) {

    .Modern {
        font-size: 26px;
    }
    .psd {
        font-size: 40px;
    }
    .section-offer {
        flex-direction: column;
    }
    .offer__block-wrap {
    margin: 20px 0 0 0;
    }
    .offer__block {
        margin: 15px 15px 0 15px;
    }
    .realization {
        display: none;
    }
}

@media screen and (max-width:768px) {

    .header.lock {
        overflow: hidden;
    }
    .header {
        position: fixed;
        top: 0;
        z-index: 50;
        height: 100px;
    }
    .logo {
       position: relative;
        z-index: 0;
    }
    
    .header-navigation {
        position: relative;
        z-index: 2;
    
    }
    .header-slider {
        display: none;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 40px;
        height: 20px;
        z-index: 2;
        right: 20px;
        bottom: 50px;
        margin-left: auto;


    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        border-radius: 50px;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger span {
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 4px;
        top: 8px;
        border-radius: 50px;
    }
    .header-nav {
        display: none;
        
    }
    
    .header-navigation__wrap {
        display: flow-root;
    }

      /* вызов меню при клике на бургер */

    .header__menu-mobail_active {
        display: block;
        background: #ff6a00;
        width: 100%;
        height: 100%;
        position: fixed;
    }

    .header__menu-mobail.lock {
        overflow: hidden;
    }

    .header__menu-mobail.lock {
        overflow: hidden;
    }

    .burger_active:before {
        transform: rotate(45deg);
        top: 8px;
    }
    .burger_active:after {
        transform: rotate(-45deg);
        bottom: 8px;

    }
    .burger_active span {
        transform: scale(0);
        transition: all 0.3s ease 0s; 
    }

    .link-nav {
        flex-direction: column;
        align-items: center;
        top: 20px;
        left: 50px;
        position: absolute;
        margin: 0;
    }

    .hider-link {
        margin: 0;
        margin-top: 20px;
    }

    .logo {
        margin-top: 20px;
    }

    .text-wrap {
        margin-top: 150px; 
    }

    .text-wrap {
        overflow: hidden;
    }

    .header__pagination {
        display: none;
    }
    .section-offer {
        padding: 100px 0 0 0;
    }
    .purchase-now__bottom {
        display: none;
    }
    .purchase-now__title {
        text-align: center;
    }
    .purchase-now p {
        text-align: center;
        margin: 20px 0 0 0;
    }
    .purchase-now {
        margin: 20px 0 0 0;
    }

  
}

@media screen and (max-width: 480px) {
    .offer__block-wrap {
    flex-direction: column;
    }
    .purchase-now__section-text-none {
        display: none;
    }
    .purchase-now {
        justify-content: center;
        align-items: center;
        height: 80px;
        margin: 20px 0 0 0;
    }
    .purchase-now__title {
        font-size: 20px;
    }

    
}








   



