@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

.content{
    margin: 0;
    padding: 0; 
    max-width: 1280px;
    margin: 0px auto; 
    
}

.section-title {
    font-family: 'Raleway-Bold';
    font-size: 22px;
    color: #47453F;
}

.section-text {
    color:#919191;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Montserrat-Light';
}

.container {
    max-width: 1100px;
    margin: 0px auto;
}

.header-navigation__wrap {
    display: flex;
    justify-content: center;
}

.header-navigation {
    display: flex;
}

.logo{
    background-image: url(../img/logo_1.jpg);
    margin-top: 40px;
    margin-left: 20px;
    position: relative;
    z-index: 4;
    
}
.logo-text{
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
    text-decoration: none;
    margin: 0px 50px 0px 0px; 
    position: absolute;
    top: 10px;
    
    
}

.header{
    width: 100%;
    height: 850px;
    background-image: url(../img/bg_photo_11949.jpg);
    background-color: #47453F;
    position: relative;

}

.header-nav{
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 120px;
}

.header__search {
    fill: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

.search-input {
    width: -0px;
    height:-0px;
}

.header__icon-card {
    fill: #fff;
    margin-left: 20px;

    
}

.header__icon-card:hover,
.header__icon-card:active{
    fill: #D3C1AD;
}

.header__search:hover,
.header__search:active{
    fill: #D3C1AD;
}

.link-nav{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
}


.hider-link{
text-decoration: none;
font-size: 14px;
line-height: 1.2;
font-weight: 300;
color: #ffffff;
display: flex;
margin-top: 5px;
margin-right: 25px;
}

.link-activ {
    display: block;
}

.link-activ:hover,
.link-activ:active{
  color: #C7B299;
  /*text-decoration: underline;*/
}

.link-activ:focus{
  color: red;
}

.link-activ::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color:#C7B299;
    transform: scaleX(0);
    transition: all 0.2s;

}

.link-activ:hover::after {
    transform: scaleX(1);
}

.header-text{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0px 0px 0px;
    margin: 0px auto;

}

.Modern{
    font-size: 36px;
    font-family: 'Raleway-Medium';
 
    color: #ffffff;
}

.header-slider{
    max-height: 200px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.header-description{
    max-width: 500px;
    font-family: 'Conv_Montserrat-Light';
    color: #ffffff;
    text-align: center;
}

.psd{
    font-family: 'Raleway-Bold';
    font-size: 52px;
    color: #ffffff;
    margin: 0;
}

.header-button {
    border: 0px;
    min-height: 53px;
    width: 170px;
    background: #998675;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 50px;
}

.header-button:hover,
.header-button:active{
    border: solid 2px rgb(252, 252, 252);
}

.header-button:focus {
    background: rgb(46, 233, 8);
    
}

.text { 
    font-family: 'Conv_Montserrat-Light';   
}

.svg-center-wrap {
    display: flex;
    align-items: center;
}


.header-slider__buttom{
    fill:#fff;
    width: 40px;
    height: 73px;
    

}

.header-slider__buttom:hover,
.header-slider__buttom:active{
    fill: #D3C1AD;
    stroke: red;
    stroke-width: 1;
}

.header__pagination {
    width: 150px;
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.header__pagination-item {
    display: block;
    width: 15px;
    height: 15px;
    background:#ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
    opacity: 50%;
}

.header__pagination-item:hover {
     border: 2px solid #d3c1ad;
     background: transparent;
     transform: scale(1.2);
}

.header__menu-mobail {
    display: none;  
}


.section-offer {
    min-height: 370px;
    display: flex;
    align-items: center;
}

.offer__block {
    max-width: 266px;
    text-align: center;
    box-sizing: border-box;
  
}

.offer__block-icon {
    height: 50px;
    fill: #585858;
}

.offer__block:hover .offer__block-icon {
    fill:#c7b299;
}

.offer__block:hover .offer__block-title {
    color:#c7b299;
}
.offer__block-title:hover,
.offer__block-icon:hover {
    fill:#c7b299;
    color:#c7b299;
}


.offer__block:hover span {
   background:#c7b299;
  

}

.offer__block h3 {
    font-family: 'Raleway-Bold';
    font-size: 22px; 
    color: #47453F;
}

.offer__block span {
    display: block;
    width: 100px;
    height: 5px;
    background: #f1eee9;
    margin: auto;
    border-radius: 50px;
}

.offer__block-wrap {
    display: flex;
}

/*секция с фото */

.realization {
    background-color: #fbfaf8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
    position: relative;
    
}

.realization__text-wrap {
    max-width: 757px;
    text-align: center;
    margin: 0 0 20px 0;
}

.realization__img {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.realization__img-browser-left {
    position: absolute;
    display: block;
    left: 40px;
}

.realization__img-browser-left:hover {
    z-index: 2;
}

.realization__img-browser-center {
    z-index: 1;
    position: relative;
    display: block;
}

.realization__img-browser-right {
    position: absolute;
    display: block;
    right: 40px;
}

.realization__img-browser-right:hover {
    z-index: 2;
}

/*рекламный блок*/
.purchase-now {
    background: url(../img/background-advertising.jpg);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

.purchase-now__title {
    font-family: "Raleway-Regular";
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    
}

.purchase-now__title span {
    color: #c7b299;
}

.purchase-now p {
    line-height: 0px;
}

.purchase-now__bottom {
    font-family: "Raleway-Bold";
    font-size: 14px;
    display: block;
    width: 150px;
    background-color: #998675;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 0 15px 0px;
    text-align: center;
    border-radius: 5px;
}


.purchase-now__bottom:hover,
.purchase-now__bottom:active{
    border: solid 1px rgb(252, 252, 252);
    background: rgb(46, 233, 8);
}

.purchase-now__bottom:focus {
    background-color: #998675;
    
}

/*блоки наших проектов*/

.our-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
    flex-direction: column;
}

.our-projects__pagination {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;
}

.our-projects__bottom {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    width: 120px;
    height: 32px;
    margin: 0 15px 0 0;
    font-size: 14px;
    font-family: "Montserrat";
    color: #8c8c8c;
    background:#ffffff;
}

.our-projects__bottom:hover {
     border: 2px solid #998675;
}
.our-projects__bottom:focus {
    background:  #998675;
    color: #ffffff;
}

.our-projects__catalog-wrap {
    display: flex;
}

.our-projects__product {
    width: 370px;
    height: 236px;
    background: rgb(223, 212, 212);
    position: relative
  
}

.our-projects__product-wrap {
    position: relative;
    margin: 0 30px 30px 0;

}
  
.our-projects__product-wrap:last-child{
  margin-right: 0px;
}


.our-projects__discription {
    height: 100px;
    max-width: 370px;
    background-color:#fbfaf8;
    padding: 1px 0 0 30px;
    position: relative;
}

.our-projects__discription::after {
    content: "";
    position: absolute;
    border: 25px solid #921a1a00;
    border-bottom: 13px solid #fbfaf8;
    top: -38px;
}



.our-projects__discription h4 {
    font-family: "Raleway";
    font-size: 20px;
    color: #c7b299;
    font-weight: 500;
}

.our-projects__discription p {
    line-height: 0px;
    color: #d1d1d1;
    font-family: "Montserrat";
    font-size: 14px;
}

.our-projects__link,
.our-projects__search {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 35%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    border: none;
 
}

.our-projects__link {
     background-image: url(../img/our-projects__link.svg);
    left: 40%;

}

.our-projects__search {
    background-image: url(../img/our-projects__search.png);
     left: 50%;
}

.our-projects__link:hover {
     filter: brightness(70%);

}

.our-projects__search:hover {
     filter: brightness(70%);
}

.our-projects__product-wrap:hover .our-projects__link {
    display: block;
   
    
}

.our-projects__product-wrap:hover .our-projects__search {
    display: block;
}

.our-projects__product-wrap:hover .our-projects__product {
  filter: brightness(50%);
}

.our-projects__product-wrap:hover .our-projects__discription {
  background-color: #362f2d;
}

.our-projects__product-wrap:hover .our-projects__discription:after {
    border-bottom: 13px solid #362f2d;

}

.our-projects__product-wrap:hover h4 {
    color: #ffffff;
}

.our-projects__product-wrap:hover p {
    color: #c7b299;
}

.our-projects__btn-load {
    margin: 10px 0 80px 0;
    text-decoration: none;
    color: #ffffff;
    background-color: #998675;
    padding: 10px 30px 10px 30px;
    box-shadow: inset 0 -3px 0 #736357;
    font-family: "Raleway-Bold";
    text-transform: uppercase;

}

.our-projects__btn-load:hover {
    background-color: #998675;
    background: rgb(46, 233, 8);
    box-shadow: inset 0 -3px 0 #eeebe9;
}


.video {
    display: block;
    margin: auto;
    filter: brightness(50%);
    width: 100%;
}

.section-video {
    position: relative;
    display: flex;
    justify-content: center;
    background: url(../img/Fillipijnen-.jpg);
    width: 100%;
}

.video-content {
    position: absolute;
    top: 15px;
    margin: 0 auto;
    font-family: "Raleway-Regular";
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;

}

.mobile-devices {
    height: 695px;
    background-image: url(../img/Background-iphon.png);
    background-color: #fbfaf8;
    background-position: 40%;
    width: 100%;
}

.mobile-devices__text-wrap {
    max-width: 657px;
    margin: 15% 14px 0 50%;
}

.mobile-devices_item {
    list-style-type: none;
    margin: 0 0 10px 0;

}

.mobile-devices__list {
    margin: 30px 0 0 0;
}

.mobile-devices_item:before {
        content: '';
        background-color:#c7b299;
        position: absolute;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        z-index: 1;
        left: -40px;
       

    }
.mobile-devices__item-befor {
    position: relative;
}

.mobile-devices__item-befor::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-top: 2px solid #fbfaf8;
        border-right: 2px solid #fbfaf8;
        z-index: 2;
        transform: rotate(45deg);
        top: 5px;
        left: -36px;
}


.mobile-devices__item-befor:hover:before {
        border-top: 2px solid #fd0202;
        border-right: 2px solid #ff0000;
}

.result {
    height: 300px;
    width: 100%;
    background: #211b19;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.result__block {
    width: 132px;
    height: 171px;
    margin: 0 70px 0 0;

}

.result__block:last-child {
    margin: 0;
}

.result__block img {
    display: block;
    margin: auto;
}

.result__number {
    font-family: 'Montserrat-Light';
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    margin: 30px 0 0 0;

}

.result__text {
    color: #c7b299;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 30px 0;
}

.result__block span {
    display: block;
    margin: auto;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
}

.recent {
    min-height: 750px;
    padding: 50px 0 0 0;
    min-height: 750px;
}

.recent__posts {
    max-width: 370px;
    height: 395px;
    position: relative;
    border: 1px solid #eae5e3;
    margin: 0 30px 0 0;
}

.recent__posts-numder {
    width: 50px;
    height: 35px;
    z-index: 3;

    border-radius: 3px 3px 0 0;
    background-color: #363636;
    color: #ffffff;
    font-family: 'Raleway-Regular';
    font-size: 24px;
    text-align: center;
}


.recent__posts-data {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
   
}

.recent__posts:hover .recent__posts-numder {
    background-color: #c7b299;
}

.recent__posts:hover .recent__posts-month {
    background-color: #a48d72;
}

.recent__posts-month {
    height: 21px;
    background-color: #252525;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 0 0 0;
    border-radius: 0 0 3px 3px;
}

.recent__posts:last-child {
    margin: 0 0px 0 0;
}

.recent__posts-wrap {
    display: flex;
    margin: 0 0 35px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.recent__text_center {
    margin: auto;
}

.recent__posts:hover {
    background-color: #362f2d;
}

.recent-posts__photo-post {
    display: block;
}

.recent__posts-pagination {
    width: 150px;
    height: 15px;
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.recent__posts-pagination_item {
    display: block;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
    opacity: 50%;
}

.recent__posts-pagination_item:hover {
     border: 2px solid #d3c1ad;
     background: transparent;
     transform: scale(1.2);
}

.recent__posts-discription {
    padding: 27px 37px 0 27px;
}

.recent__posts:hover .recent__posts-discription {
    background-color: #362f2d;
}

.recent__posts-discription h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #555555;
    font-family: 'Raleway-Regular';
}

.recent__posts:hover h4 {
    color: #c7b299;
}

.recent__posts-discription h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    font-family: 'Raleway-Regular';
    line-height: 25px;
    margin: 10px 0 0 0;
}

.recent__posts:hover h5 {
    color: #ffffff;
}

.recent__posts-discription-read-more {
    color: #c7b299;
    font-family: 'Raleway-Regular';
    font-size: 14px;
    position: relative;
    line-height: 57px;
}

.recent__posts-discription-read-more::after {
    content: '';
    position: absolute;
    border: 5px solid #921a1a00;
    border-bottom: 8px solid #c7b299;
    transform: rotate(90deg);
    right: -20px;
    top: 2px;
       
}

.recent__posts:hover .recent-posts__photo-post {
  filter: brightness(50%);

}

.recent__pagination {
    width: 65px;
    height: 22px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.circle_right {
    width: 22px;
    height: 22px;
    border: 2px solid  #d1d1d1;
    border-radius: 50%;
    position: relative;

}

.circl_left {
    width: 22px;
    height: 22px;
    border: 2px solid  #d1d1d1;
    border-radius: 50%;
    position: relative;
}

.circl_left:hover {
    border: 2px solid #c7b299;
}

.circl_left:hover:before {
    border-top: 2px solid  #c7b299;
    border-right: 2px solid  #c7b299;
}

.circle_right:hover {
    border: 2px solid #c7b299;
}

.circle_right:hover::after {
    border-top: 2px solid  #c7b299;
    border-right: 2px solid  #c7b299;
    z-index: 2;
}

.circl_left::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 2px solid #d1d1d1;
    border-right: 2px solid #d1d1d1;
    z-index: 1;
    transform: rotate(-138deg);
    top: 6px;
    left: 7px;
}

.circle_right::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 2px solid#d1d1d1;
    border-right: 2px solid#d1d1d1;
    z-index: 2;
    transform: rotate(45deg);
    top: 6px;
    left: 4px;
}




/********************************************************************************/
@media screen and (max-width:1199px) {

    .Modern {
        font-size: 26px;
    }
    .psd {
        font-size: 40px;
    }
    .section-offer {
        flex-direction: column;
    }
    .offer__block-wrap {
    margin: 20px 0 0 0;
    }
    .offer__block {
        margin: 15px 15px 0 15px;
    }
    .realization {
        display: none;
    }
    .our-projects__product-wrap_disabled {
        display: none;
    }
    .our-projects__product-wrap:nth-child(2){
        margin-right: 0px;
    }
    .recent__posts:last-child {
       margin: 30px 0px 0 0;
}

}

@media screen and (max-width:992px) {
    .our-projects__catalog {
        display: none;
    }
    .our-projects__btn-load {
        display: none;
    }
    .mobile-devices {
        height: 800px;
        background-position: 34%;
        background-position-y: 150px;
        background-repeat: no-repeat;
    }
    .mobile-devices__text-wrap {
        margin: 5% 14px 0 20%;
        max-width: 100%;
    }
    .mobile-devices__list_wrap {
        margin: 0 0 0 35%;
    }
    .result__block:last-child {
        display: none;
    }
    .result__block:nth-child(4) {
        margin: 0;
    }
    .recent__posts {
        margin: 30px 0 0 0;
    }
    .recent__posts-wrap {
    flex-direction: column;
    align-items: center;
    }
    .recent__posts:nth-child(2){
        margin-right: 0px;
    }
    .recent__posts:first-child {
        margin-right: 0px;
    }
    .recent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

}

@media screen and (max-width:768px) {
    .logo {
        margin-top: 6px;
    }
    .header {
        height: 75px;
    }
    .header.lock {
        overflow: hidden;
    }
    .header {
        position: fixed;
        top: 0;
        z-index: 50;
    }
    .logo {
       position: relative;
        z-index: 0;
    }
    
    .header-navigation {
        position: relative;
        z-index: 2;
    
    }
    .header-slider {
        display: none;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 40px;
        height: 20px;
        z-index: 2;
        right: 20px;
        bottom: 50px;
        margin-left: auto;


    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        border-radius: 50px;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger span {
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 4px;
        top: 8px;
        border-radius: 50px;
    }
    .header-nav {
        display: none;
        
    }
    
    .header-navigation__wrap {
        display: flow-root;
    }

      /* вызов меню при клике на бургер */

    .header__menu-mobail_active {
        display: block;
        background: #ff6a00;
        width: 100%;
        height: 100%;
        position: fixed;
    }

    .header__menu-mobail.lock {
        overflow: hidden;
    }

    .header__menu-mobail.lock {
        overflow: hidden;
    }

    .burger_active:before {
        transform: rotate(45deg);
        top: 8px;
    }
    .burger_active:after {
        transform: rotate(-45deg);
        bottom: 8px;

    }
    .burger_active span {
        transform: scale(0);
        transition: all 0.3s ease 0s; 
    }

    .link-nav {
        flex-direction: column;
        align-items: center;
        top: 20px;
        left: 50px;
        position: absolute;
        margin: 0;
    }

    .hider-link {
        margin: 0;
        margin-top: 20px;
    }

    .text-wrap {
        margin-top: 150px; 
    }

    .text-wrap {
        overflow: hidden;
    }

    .header__pagination {
        display: none;
    }
    .section-offer {
        padding: 100px 0 0 0;
    }
    .purchase-now__bottom {
        display: none;
    }
    .purchase-now__title {
        text-align: center;
    }
    .purchase-now p {
        text-align: center;
        margin: 20px 0 0 0;
    }
    .purchase-now {
        margin: 20px 0 0 0;
    }
    .our-projects__pagination {
        display: flex;
        justify-content: space-between;
        margin: 0 0 50px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .our-projects__bottom {
        margin: 10px 15px 0 0;
    }
    .section-video {
        display: none;
    }
    .mobile-devices {
        background-position: 25%;
        background-position-y: 171px;
        background-size: 1500px;
        height: 695px;
    }
    .mobile-devices__list_wrap {
        display: none;
    }
    .mobile-devices__text-wrap {
        margin: 0px 20px 0 20px;
    }
    .mobile-devices__title {
        text-align: center;
    }
    .result__block:nth-child(4) {
        display: none;
    }
    .result__block:nth-child(3) {
        margin: 0;
    }
    .result__block {
        margin: 0 5% 0 0;
    }
}   



@media screen and (max-width: 480px) {
    .logo {
        margin-top: 6px;
    }
    .header {
    height: 75px;
    }
    .offer__block-wrap {
    flex-direction: column;
    }
    .purchase-now__section-text-none {
        display: none;
    }
    .purchase-now {
        justify-content: center;
        align-items: center;
        height: 80px;
        margin: 20px 0 0 0;
    }
    .purchase-now__title {
        font-size: 20px;
    }
    .mobile-devices {
        background-position: 27%;
        background-position-y: 40px;
        background-size: 1500px;
        height: 550px;
    }
    .mobile-devices__desc {
        display: none;
    }
    .mobile-devices__text-wrap {
        margin: 0 auto;
    }
    .mobile-devices__title {
        text-align: center;
    }  
    .result__block:nth-child(4) {
        display: block; 
    }
    .result {
        min-height: 500px;
        flex-wrap: wrap;
    }
    .result__block:nth-child(2) {
        margin: 0;
    }
    .result__block:nth-child(3) {
        margin: 0 5% 0 0;
    }
    .recent__posts:first-child {
        margin: 30px 5px 0 5px;
        margin-right: 5px;
    }
    .recent__posts:nth-child(2) {
        margin: 30px 5px 0 5px;
    }
    .recent__posts:last-child {
    margin: 30px 5px 0 5px;
    }
    .recent-posts__photo-post {
        width: 100%;
    }
    .recent__posts-pagination {
    width: 150px;
    height: 15px;
    position: absolute;
    top: -10px;

    
}


    






